<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>OnlyTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>RegistServer</servlet-name>
  <servlet-class>server.RegistServer</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>LoginServer</servlet-name>
  <servlet-class>server.LoginServer</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>LeaveMessageServer</servlet-name>
  <servlet-class>server.LeaveMessageServer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpServer</servlet-name>
    <servlet-class>server.UpServer</servlet-class>
</servlet>
<servlet>
     <servlet-name>TestsgatheringServer</servlet-name>
     <servlet-class>server.TestsgatheringServer</servlet-class>
</servlet>
<servlet>
      <servlet-name>DownLoadServer</servlet-name>
      <servlet-class>server.DownLoadServer</servlet-class>
</servlet>
<servlet>
  <servlet-name>SearchServer</servlet-name>
  <servlet-class>server.SearchServer</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>UpHistoryServer</servlet-name>
  <servlet-class>server.UpHistoryServer</servlet-class>
  </servlet>
    <servlet>
  <servlet-name>UphistoryDeleteServer</servlet-name>
  <servlet-class>server.UphistoryDeleteServer</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>DownHistoryServer</servlet-name>
  <servlet-class>server.DownHistoryServer</servlet-class>
  </servlet>
    <servlet>
  <servlet-name>DownhistoryDeleteServer</servlet-name>
  <servlet-class>server.DownhistoryDeleteServer</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>LoginSelectServer</servlet-name>
  <servlet-class>server.LoginSelectServer</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ManagerLoginServer</servlet-name>
  <servlet-class>server.ManagerLoginServer</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>selectServlet</servlet-name>
  <servlet-class>managerserver.selectServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>editServlet</servlet-name>
  <servlet-class>managerserver.editServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>deleteServlet</servlet-name>
  <servlet-class>managerserver.deleteServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ClassifyServer</servlet-name>
  <servlet-class>server.ClassifyServer</servlet-class>
  </servlet>
   <servlet>
  <servlet-name>ExitServlet</servlet-name>
  <servlet-class>server.ExitServlet</servlet-class>
  </servlet>
   <servlet>
  <servlet-name>ImgServer</servlet-name>
  <servlet-class>server.ImgServer</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>MeServer</servlet-name>
  <servlet-class>server.MeServer</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>RegistServer</servlet-name>
  <url-pattern>/RegistServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>LoginServer</servlet-name>
  <url-pattern>/LoginServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>LeaveMessageServer</servlet-name>
  <url-pattern>/LeaveMessageServer</url-pattern>
  </servlet-mapping>
 <display-name>messageBoard</display-name>
 <servlet-mapping>
    <servlet-name>UpServer</servlet-name>
    <url-pattern>/UpServer</url-pattern>
</servlet-mapping>
<servlet-mapping>
     <servlet-name>TestsgatheringServer</servlet-name>
    <url-pattern>/TestsgatheringServer</url-pattern>
</servlet-mapping>
<servlet-mapping>
      <servlet-name>DownLoadServer</servlet-name>
      <url-pattern>/DownLoadServer</url-pattern>
</servlet-mapping>
 <servlet-mapping>
  <servlet-name>SearchServer</servlet-name>
  <url-pattern>/SearchServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>UpHistoryServer</servlet-name>
  <url-pattern>/UpHistoryServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>UphistoryDeleteServer</servlet-name>
  <url-pattern>/UphistoryDeleteServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>DownHistoryServer</servlet-name>
  <url-pattern>/DownHistoryServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>DownhistoryDeleteServer</servlet-name>
  <url-pattern>/DownhistoryDeleteServer</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>LoginSelectServer</servlet-name>
  <url-pattern>/LoginSelectServer</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>ManagerLoginServer</servlet-name>
  <url-pattern>/ManagerLoginServer</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>selectServlet</servlet-name>
  <url-pattern>/selectServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>editServlet</servlet-name>
  <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>deleteServlet</servlet-name>
  <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>ClassifyServer</servlet-name>
  <url-pattern>/ClassifyServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>ExitServlet</servlet-name>
  <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>ImgServer</servlet-name>
  <url-pattern>/ImgServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>MeServer</servlet-name>
  <url-pattern>/MeServer</url-pattern>
  </servlet-mapping>
</web-app>